:root {
    --header-color: #2b2c34;
    --bg-color: #2b2c34;
    --text-color: #fff;
    --button-bg-color: #4267b2;
    --button-text-color: #fff;
    --button-hover-bg-color: #335097;
}

*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", Arial, sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

header {
    background: var(--header-color) url(./github.png) no-repeat center/400px auto;
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 20px;
    color: var(--text-color);
}

.profile-form {
    margin-top: 16px;
}

.profile-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 8px;
    width: 300px;
    color: var(--bg-color);
    border: none;
    outline: none;
}


.profile-form .btn-submit {
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.5s;
}

.profile-form .btn-submit:hover {
    background-color: var(--button-hover-bg-color);
}

.profile-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.profile-name {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 8px;
}

.profile-username {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 24px;
}

.profile-link {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 8px 16px;
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.numbers-item {
    font-size: 24px;
    font-weight: bold;
    color: var(--button-text-color);
    list-style: none;
}

.numbers-item h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text-color);
}