@use 'variables';
@use 'hero';
@use 'components/profile-form';
@use 'profile';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: variables.$bg-color;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}